<!DOCTYPE html>
<html lang="en">

<head>
  <title>Film App</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="/bootstrap-4.5.2-dist/css/bootstrap.min.css">   -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>

<body style="background-color:#173756">



  <!-- Navbar Starts here -->

  <!-- <nav class="navbar navbar-expand-lg" style="background-color:#33475b"> -->
  <nav class="navbar navbar-expand-lg" style="background-color: #ffc107">
    <a class="navbar-brand" href="/" style="color:#163553; font-weight: bold">MovieApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <!--NavBar ends here-->


  <!-- container begins here-->
  <div class="container pt-5">
    <!-- Jumbotron begins here -->
    <div class="pt-5">
      <div class="text-center text-warning p-3">
        <h2>Search for a movie or actor</h2>
      </div>
      <div>
        <form action="/result" method="GET" class="justify-content-center d-flex">
          <input type="text" name="search" class="form-control w-25 bg-dark text-white" value="Avatar">
          <input type="submit" class="btn btn-warning ml-2" value="Search">
        </form>
      </div>
    </div>
    <!-- jumbotron ends here -->
  </div>
  <!-- container ended here -->

  <!-- scripts begin here -->
  <!-- <script src="/bootstrap-4.5.2-dist/js/bootstrap.min.js"></script> -->
</body>

</html>